* {
    margin: 0;
    padding: 0;

}

body {
    margin: 0 auto;
    background-color: #fff;
   
}
 
header {
    display:flex;
    justify-content: space-between;
    background-image: radial-gradient(#5F0BAE, #26014b); 
    padding: 30px 400px;
    align-items: center;
    margin-bottom: 20px;

}

h2 {
    text-align: center;
    padding: 30px 400px;
    font-size: 50px;
    text-shadow: 1px 1px 2px  rgba(139, 58, 245, 0.452);
}

h3 {
    text-shadow: 1px 1px 2px  rgba(139, 58, 245, 0.452);
    display: block;
    margin-bottom: 20px;
}

.logo-img img {
    height: 220px;
    width: auto;
}


.hor-menu ul li {
    list-style: none;
    float: left;
    padding: 15px 0px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    margin-left: 50px;
    font-size: 30px;
    font-weight: 700;
    background-image: linear-gradient(132deg, #07f5ff 35%, #d003c1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hor-menu img {
    height: 40px;
    width: auto;
}

 button.call {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 0; 

}

.hor-menu li:hover {
    -webkit-transform: scale(1.2,);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1.2s;
    border-image-source: linear-gradient(to left, #d003c1, #07f5ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hor-menu li:not(:hover) {
    transition: 1.2s;
}

.carousel-wrapper {
    height:300px;
    position:relative;
    width:500px;
    margin:0 auto;
}
  
.carousel-item {
    padding-top: 50px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:85px 50px;
    opacity:0;
    transition: all 0.5s ease-in-out;
    margin: auto;
    font-size: 25px;
    text-align: center;
}
  
.arrow {
    border: solid #5a0054 ;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 7px;
}
  
.arrow-prev {
    left:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
}
  
.arrow-next {
    right:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
}

[id^="item"] {
      display: none;
}
  
.item-1 {
      z-index: 2;
      opacity: 1;
}
  
*:target ~ .item-1 {
      opacity: 0;
}
  
#item-1:target ~ .item-1 {
      opacity: 1;
}
  
#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4  {
      z-index: 3;
      opacity: 1;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Urbanist', sans-serif;
}

.feature-wrapper, .list-wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.feature-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.feature-wrapper img {
    height: 350px;

}

.list-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.list-item  {
    width: auto;
    height: 150px;
    margin-right: 50px;
}

.list-item:last-child {
    margin-right: 0;
}

.list-item-5, .list-item-6, .list-item-7 {
    margin-top: 170px;

}

.list-item img {
    height: 200px;
    width: auto;
}

.list-item p {
    margin-bottom: 20px;
}

.consultant-wrapper {
    margin-bottom: 200px;
    text-align: center;
    font-size: 30px;
    margin-right: 20px;
}

.consultant-wrapper img {
    border-radius: 100px;
    height: 320px;
    padding-top: 50px;
    width: auto;

}
    
}
.nav_item {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 25px;
    margin: 2px;
    cursor:pointer;
    text-decoration: none;
    background-image: linear-gradient(132deg, #07f5ff 35%, #d003c1 100%);
}

.nav_item:hover, .nav_item_active {
     background-image: linear-gradient(132deg, #07f5ff 35%, #d003c1 100%);
}

.theme-button {
    position: absolute;
    right: 5px;
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
    color: #8066AB;
    font-weight: bolder;
}

.theme-button:hover {
    background: #555;
}
.topbutton {
    width: 100px;
    border: 2px solid #ccc;
    background: #f7f7f7;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    color: #333;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
}
.subscribe {
    max-width: 150px;
    max-height: 150px;
    display:flex;
    position: relative;
    right: -300;
    top: -90;
}
.text {
    padding-left: 750px;
}
.sub {
    padding-top: 50px;
    padding-left: 750px;
}
